<?xml version="1.0"?>
<config>
    <modules>
        <AgileContinental_Module>
            <version>0.1.0</version>
        </AgileContinental_Module>
    </modules>
    <frontend>
        <routers>
            <AgileContinental_Module_Index>
                <use>standard</use>
                <args>
                    <module>AgileContinental_Module</module>
                    <frontName>module</frontName>
                </args>
            </AgileContinental_Module_Index>
        </routers>
    </frontend>
	 <global>
	<blocks>
		<agilecontinentalmodule>
			<class>AgileContinental_Module_Block</class>
		</agilecontinentalmodule>
	</blocks>
	</global>
</config>